/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        conditional_layers {
                compatible = "zmk,conditional-layers";
                tri_layer {
                        if-layers = <1 2>;
                        then-layer = <3>;
                };
        };
        
        behaviors {
                plusminus: plus_minus {
                        compatible = "zmk,behavior-mod-morph";
                        label = "PLUS_MINUS";
                        #binding-cells = <0>;
                        bindings = <&kp KP_PLUS>, <&kp KP_MINUS>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                multdivive: multiply_divide {
                        compatible = "zmk,behavior-mod-morph";
                        label = "MULTIPLY_DIVIDE";
                        #binding-cells = <0>;
                        bindings = <&kp KP_MULTIPLY>, <&kp KP_DIVIDE>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                dotcomma: dot_comma {
                        compatible = "zmk,behavior-mod-morph";
                        label = "DOT_COMMA";
                        #binding-cells = <0>;
                        bindings = <&kp DOT>, <&kp COMMA>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                lparrpar: lpar_rpar {
                        compatible = "zmk,behavior-mod-morph";
                        label = "LPAR_RPAR";
                        #binding-cells = <0>;
                        bindings = <&kp LS(N9)>, <&kp LS(N0)>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                lbktrbkt: lbkt_rbkt {
                        compatible = "zmk,behavior-mod-morph";
                        label = "LBKT_RBKT";
                        #binding-cells = <0>;
                        bindings = <&kp LBKT>, <&kp RBKT>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                lbrcrbrc: lbrc_rbrc {
                        compatible = "zmk,behavior-mod-morph";
                        label = "LBRC_RBRC";
                        #binding-cells = <0>;
                        bindings = <&kp LBRC>, <&kp RBRC>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                colonexcl: colon_excl {
                        compatible = "zmk,behavior-mod-morph";
                        label = "COLON_EXCL";
                        #binding-cells = <0>;
                        bindings = <&kp COLON>, <&kp EXCL>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                underpipe: under_pipe {
                        compatible = "zmk,behavior-mod-morph";
                        label = "UNDER_PIPE";
                        #binding-cells = <0>;
                        bindings = <&kp UNDER>, <&kp PIPE>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                athash: at_hash {
                        compatible = "zmk,behavior-mod-morph";
                        label = "AT_HASH";
                        #binding-cells = <0>;
                        bindings = <&kp AT>, <&kp HASH>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
                bkspdel: bksp_del {
                        compatible = "zmk,behavior-mod-morph";
                        label = "BKSP_DEL";
                        #binding-cells = <0>;
                        bindings = <&kp BKSP>, <&kp DEL>;
                        mods = <(MOD_LSFT|MOD_RSFT)>;
                };
        };
        
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC        | Q          | W          | F          | P          | B          |   | J          | L          | U          | Y          | ' "        | BKSP DEL   |
// | CTRL / TAB | A          | R          | S          | T          | G          |   | M          | N          | E          | I          | O          | RETURN     |
// | SHFT       | Z          | X          | C          | D          | V          |   | K          | H          | , <        | . >        | / ?        | SHFT       |
//                                        | GUI        | LWR        | SPC        |   | SPC        | RSE        | ALT        |
                        bindings = <
   &kp ESC      &kp Q        &kp W        &kp F        &kp P        &kp B            &kp J        &kp L        &kp U        &kp Y        &kp SQT      &kp bkspdel
   &mt LCTRL TAB &kp A       &kp R        &kp S        &kp T        &kp G            &kp M        &kp N        &kp E        &kp I        &kp O        &kp RETURN
   &kp LSHFT    &kp Z        &kp X        &kp C        &kp D        &kp V            &kp K        &kp H        &kp COMMA    &kp DOT      &kp SLASH    &kp RSHFT
                                          &kp LGUI     &mo 1        &kp SPACE        &kp SPACE    &mo 2        &kp RALT
                        >;
                };
    
                lower_layer {
// -----------------------------------------------------------------------------------------
// |            | C_BRI_UP   | PAGE_UP    | UP         | HOME       | C_VOL_UP   |   | @ #        | ( )        | _ |        | ^          | `          |            |
// | PRINTSCREEN|            | LEFT       | DOWN       | RIGHT      | C_MUTE     |   | &          | [ ]        |            |            | ~          |            |
// | CAPSLOCK   | C_BRI_DOWN | PAGE_DOWN  | INSERT     | END        | C_VOL_DOWN |   | %          | { }        | ; :        | : !        | \ |        |            |
//                                        |            |            |            |   |            |            |            |
                        bindings = <
   &trans       &C_BRI_UP    &PAGE_UP     &UP          &HOME        &C_VOL_UP        &athash      &lparrpar    &underpipe  &CARET       &GRAVE       &trans 
   &PRINTSCREEN &none        &LEFT        &DOWN        &RIGHT       &C_MUTE          &AMPERSAND   &lbktrbkt    &none        &none        &TILD        &trans
   &CAPSLOCK    &C_BRI_DOWN  &PAGE_DOWN   &INSERT      &END         &C_VOL_DOWN      &PERCENT     &lbrcrbrc    &SEMICOLON   &colonexcl   &BACKSLASH   &trans
                                          &trans       &trans       &trans           &trans       &trans       &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// | F1         | F2         | F3         | F4         | F5         | F6         |   | + -        | 7 &        | 8 *        | 9 (        | * /        |            |
// | F7         | F8         | F9         | F10        | F11        | F12        |   | = +        | 4 $        | 5 %        | 6 ^        | . ,        |            |
// | BTCLR      | BT 1       | BT2        | BT3        | BT4        | BT5        |   | 0 )        | 1 !        | 2 @        | 3 #        | (  )       |            |
//                                        |            |            |            |   |            |            |            |
                        bindings = <
   &F1          &F2          &F3          &F4          &F5          &F6              &plusminus   &kp N7       &kp N8       &kp N9       &multdivive  &trans
   &F7          &F8          &F9          &F10         &F11         &F12             &EQUAL       &kp N4       &kp N5       &kp N6       &dotcomma    &trans
   &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4     &kp N0       &kp N1       &kp N2       &kp N3       &lparrpar    &trans
                    	                  &trans       &trans       &trans           &trans       &trans       &trans
                        >;
                };
                
                adjust_layer {
// -----------------------------------------------------------------------------------------
// | RST        |            |            |            |            |            |   |            |            |            |            |            | RST        |
// | BTLD       |            |            |            |            |            |   |            |            |            |            |            | BTLD       |
// |            |            |            |            |            |            |   |            |            |            |            |            |            |
//                                        |            |            |            |   |            |            |            |
                        bindings = <
   &reset       &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &reset 
   &bootloader  &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &bootloader
   &none        &none        &none        &none        &none        &none            &none        &none        &none        &none        &none        &none
                                          &none        &none        &none            &none        &none        &none
                        >;
                };
        };
};
